@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgrano';
    src: url('../fonts/Belgrano-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.reveal {
    font-family: 'Roboto Condensed', sans-serif !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Belgrano', sans-serif !important;
}
